# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# IDE files
.vscode/
.idea/
